body, html, #root {
    height: 100%;
}
.App {
  text-align: center;
  height: 100%;
    display: flex;
    flex-flow: column;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding-top: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: auto;
}

.App-container {
  flex: 1;
  display: flex;
  flex-flow: row;
  height: 100%;
  padding: 10;
}

.MapContainer {
  background-color: rgb(220, 220, 220);
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  margin: 5px;
  flex: .6;
  display: flex;
  flex-flow: column;
}

.MapContainer-frame {
  flex: 1;
  margin:10px;
  overflow: hidden;
}

.MapContainer-container {
  position: relative;
  flex: none;
  width: 5000px;
  height: 5000px;
  background-repeat: repeat;
  background-image: url("../resources/grid.jpg");
}

.MapContainer-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.left-toolbar {
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  margin: 5px;
  flex: .22;
}

.right-toolbar {
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  margin: 5px;
  flex: .18;
}

.Toolbar {
  width: 100%;
  height: 100%;
}

.Variables {
  margin: 8px;
  border-bottom: 1px solid black;
  min-height: 200px;
  max-height: 50%;
  overflow-y: auto;
}

.Variables-list {
  text-align: left;
}

.Details {
  margin: 8px;
  min-height: 200px;
  max-height: 50%;
  overflow-y: auto;
}

li {
  text-align: left;
}

.OutputBox {
  position: absolute;
  width: 70%;
  height: 70%;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -35% 0 0 -35%;
  background: #bbb;
  border-radius: 15px;
  overflow-x: scroll;
}

.OutputBox #code {
  margin: 10px;
  padding: 5px;
  text-align: left;
  border-radius: 5px;
  background-color: #ccc;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
