.Node {
  border: 1px solid black;
  border-radius: 5px;
  flex:none;
  position: absolute;
  left: 50px;
  top: 50px;
  width: fit-content;
  height: min-content;
  user-select: none;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(100, 100, 100);
}

.Node :hover {
  cursor: move;
}

.Node-header {
  border-bottom: 1px solid black;
  padding: 5px;
  padding-top: 0;
}

.Node-body {
  width: fit-content;
}

.Node_inputs {
  text-align: left;
  width: fit-content;
  padding-right: 7px;
  display: inline-block;
  vertical-align: top;
}

.Node_outputs {
  text-align: right;
  width: fit-content;
  padding-left: 7px;
  vertical-align: top;
  display: inline-block;
}

.Node-input :hover, .Node-output :hover {
  cursor: pointer;
}
.Node-input, .Node-output {
  width: fit-content;
}

.Node-input-image, .Node-output-image {
  width: 20px;
  height: 20px;
}
